{% include 'store/base.html' %}
{% load static%}
<div className="bookDetails">
    <Nav/>
    <div className=' row flex '>
        <div className="bookDetailImg col-md-4 col-xs-4">
            <img className='bookImg'  src="{% static 'image/books/'%}{{book.image_name}}"></img>
        </div>

        <div className="details col-xs-8 col-sm-8">
            <h2 className="bold">{{book.title}}</h2>
            
            <small className='title'>by <Link to='/'>{{book.author}}</Link> | from ahadu edition</small>
            <bold>book 4 out of 5</bold>
            <div className='price alert-warning'>
                Kindle:     50birr
            </div>
            <div className="buyButton btn btn-success">
                buy now
            </div>
            <span className='hr'></span>
            <div className='description'>
                <p>{{book.description}}</p>
            </div>
        </div>
        <div className='checkout'>
        <span>digital price  <small><Link to=''>{{book.price}}</Link> birr</small></span>
        <span>audio book  <small><Link to='/coming-soon'>71 birr</Link></small></span>
        <span>hard cover <small>400 birr</small></span>
        <a className='one-click-btn' href="/order/{{book.id}}">order now with 1-click</a>
        <p>you can read it with our built-in reader</p>
        </div>
    </div>
    <span className='hr'></span>
    <BooksList title='also ahadu recommends '></BooksList>
</div>